* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #384D67;
}

.user-interface {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-flow: row nowrap;
}

.user-interface .display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: 250px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #15A4FA;

  /* Стили для шрифта */
  font-size: 56px;
  text-transform: uppercase;
  font-weight: bold;
  color: #073A5A;
}

.user-interface .control-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-interface .control-panel button {
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #B4B4B4;
  cursor: pointer;

  /* Стили для шрифта */
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;

  margin-left: 5px;
}

.user-interface .control-panel button:not(:last-child) {
  margin-bottom: 10px;
}

/*
* 1) Первая и последния строчки должны корректно отображать border-radius
* 2) Корректно подсвечивать границы при наведении на строчку
*/

.algorithms-list table {
  margin: 20px auto 0;
  max-width: 700px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #1C324A;
  border-collapse: collapse;
  border: 0;

  color: #537095;
  font-weight: bold;
}

.algorithms-list table th {
  border-collapse: collapse;
  padding: 0 5px;
  border: 1px solid #273E5B;
}

.algorithms-list table tr:first-child {
  background-color: #1F3650;
}

.algorithms-list table tr {
  height: 50px;
}

.algorithms-list table td {
  width: 20%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #273E5B;
}

.algorithms-list table td button {
  width: 80%;
  height: 25px;
  text-align: center;
  font-weight: bold;
  background-color: #57595D;
  color: #AFB1B5;
  border: 0;
  cursor: pointer;
}